@font-face {
    font-family: arcon;
    src: url(./Arcon-Regular.otf);
}
@font-face {
	font-family: lato;
	src: url(./Lato-Regular.ttf);
}

body {
    background-color: #efefef;
}

table, th, td {
    border: 1px solid black;
}